<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="LOG_DIR"
		value="C:/Dev/workspace/Oxygen/pod_boatrace_test/logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d [%thread] %-5level %logger{20}.%M - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!--Daily rolling file appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/debug.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/debug.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5level %logger{20}.%M - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<!--Daily rolling file appender -->
	<appender name="ALERT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5level %logger{35}.%M - %msg%n
			</Pattern>
		</encoder>
		<!-- これ -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<logger name="com.pengkong" level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="ALERT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.pengkong.boatrace.mybatis" level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="ALERT" />
		<appender-ref ref="STDOUT" />
	</logger>
<!-- 	
	<logger name="com.pengkong.boatrace" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
 -->	
</configuration>
