<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeHandlers>
    <typeHandler handler="com.pengkong.boatrace.mybatis.typehandle.DoubleArrayTypeHandler" javaType="Object" jdbcType="ARRAY"/>
    <typeHandler handler="com.pengkong.boatrace.mybatis.typehandle.IntegerArrayTypeHandler" javaType="Object" jdbcType="ARRAY"/>
    <typeHandler handler="com.pengkong.boatrace.mybatis.typehandle.StringArrayTypeHandler" javaType="Object" jdbcType="ARRAY"/>
  </typeHandlers>
  <environments default="pod_boatrace">
    <environment id="pod_boatrace">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:55432/boatonline"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/CustomMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlClassificationMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlResultMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlRaceMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlRacerMapper.xml"/>
  </mappers>
</configuration>