<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeHandlers>
	<!-- 20210924 追加 -->
    <typeHandler handler="com.pengkong.boatrace.mybatis.typehandle.DoubleArrayTypeHandler" javaType="Object" jdbcType="ARRAY"/>
	<!-- 20211221 追加 -->
    <typeHandler handler="com.pengkong.boatrace.mybatis.typehandle.IntegerArrayTypeHandler" javaType="Object" jdbcType="ARRAY"/>
  </typeHandlers>
  <environments default="pod_boatrace">
    <environment id="pod_boatrace">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:55432/boatml3"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRaceMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRaceWakuMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRaceWaku2Mapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRacerMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecOddsMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecOddsRank10Mapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecFameMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecFameWakuMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecFameRank3Mapper.xml"/>
    <!-- 20181203 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRacerExMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecWakuRecentMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatWakuRecentMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatWakuWinMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatRaceMapper.xml"/>
    <!-- 20181203 追加 -->
    <!-- 20181209 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatMlResultMapper.xml"/>
    <!-- 20181212 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/CustomMapper.xml"/>
    <!-- 20181223 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/ProcedureExecutorMapper.xml"/>
    <!-- 20190205 追加 -->
    <!-- 20190603 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatMlResultWekaMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatMlResultWekaPtnMapper.xml"/>
    <!-- 20190623 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatMlResult2Mapper.xml"/>
    <!-- 20190901 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatMlResultRgrMapper.xml"/>
    <!-- 20190908 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StPtnFinalMapper.xml"/>
    <!-- 20191117 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RankResultMapper.xml"/>
    <!-- 20191130 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OddsTrendMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OddsbeforeTrendMapper.xml"/>
    <!-- 20200113 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RunRankResultMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RunRankResultPtnMapper.xml"/>
    <!-- 20200812 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RankExtBalanceMapper.xml"/>
    <!-- 20210814 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlClassificationMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlResultMapper.xml"/>
    <!-- 20210924 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OddsMonitorMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OddsResultMapper.xml"/>
    <!-- 20211221 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlEvaluationMapper.xml"/>
    <!-- 20220109 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OddsPredictMapper.xml"/>
    <!-- 20220410 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlRaceMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlRacerMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlClassificationMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/OlResultMapper.xml"/>
    <!-- 20220509 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlBorkEvaluationMapper.xml"/>
    <!-- 20220626 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlRangeEvaluationMapper.xml"/>
    <!-- 20220710 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlRorkEvaluationMapper.xml"/>
    <!-- 20220918 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlPrEvaluationMapper.xml"/>
    <!-- 20221024 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlPorkClassificationMapper.xml"/>
    <!-- 20221220 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/MlTermEvaluationMapper.xml"/>
    <!-- 20230502 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecBoddsMapper.xml"/>
    <!-- 20230520 追加 -->
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRacerTrendMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/RecRacerArr2Mapper.xml"/>
    
    <!-- 
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerAvgtimeBettypeMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerAvgtimeMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerJyoMotorBettypeMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerJyoMotorMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerRacerBettypeMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/PowerRacerMapper.xml"/>
    <mapper resource="com/pengkong/boatrace/mybatis/mapper/StatRaceMapper.xml"/>
     -->
  </mappers>
</configuration>