<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengkong.boatrace.mybatis.client.RecRacerExMapper">
  <resultMap id="BaseResultMap" type="com.pengkong.boatrace.mybatis.entity.ex.RecRacerEx">
    <result column="ymd" jdbcType="VARCHAR" property="ymd" />
    <result column="jyocd" jdbcType="VARCHAR" property="jyocd" />
    <result column="raceno" jdbcType="SMALLINT" property="raceno" />
    <result column="entry" jdbcType="SMALLINT" property="entry" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="SMALLINT" property="age" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="weight" jdbcType="NUMERIC" property="weight" />
    <result column="branch" jdbcType="VARCHAR" property="branch" />
    <result column="exhibit" jdbcType="NUMERIC" property="exhibit" />
    <result column="startexhibit" jdbcType="NUMERIC" property="startexhibit" />
    <result column="flying" jdbcType="SMALLINT" property="flying" />
    <result column="late" jdbcType="SMALLINT" property="late" />
    <result column="averagestart" jdbcType="NUMERIC" property="averagestart" />
    <result column="avgtime" jdbcType="NUMERIC" property="avgtime" />
    <result column="nationwiningrate" jdbcType="NUMERIC" property="nationwiningrate" />
    <result column="nation2winingrate" jdbcType="NUMERIC" property="nation2winingrate" />
    <result column="nation3winingrate" jdbcType="NUMERIC" property="nation3winingrate" />
    <result column="localwiningrate" jdbcType="NUMERIC" property="localwiningrate" />
    <result column="local2winingrate" jdbcType="NUMERIC" property="local2winingrate" />
    <result column="local3winingrate" jdbcType="NUMERIC" property="local3winingrate" />
    <result column="motorno" jdbcType="SMALLINT" property="motorno" />
    <result column="motor2winingrate" jdbcType="NUMERIC" property="motor2winingrate" />
    <result column="motor3winingrate" jdbcType="NUMERIC" property="motor3winingrate" />
    <result column="boatno" jdbcType="SMALLINT" property="boatno" />
    <result column="boat2winingrate" jdbcType="NUMERIC" property="boat2winingrate" />
    <result column="boat3winingrate" jdbcType="NUMERIC" property="boat3winingrate" />
    <result column="waku" jdbcType="SMALLINT" property="waku" />
    <result column="rank" jdbcType="SMALLINT" property="rank" />
    <result column="startresult" jdbcType="NUMERIC" property="startresult" />
    <result column="racetype" jdbcType="VARCHAR" property="racetype" />
  </resultMap>
  <resultMap id="RaceKeyMap" type="com.pengkong.boatrace.mybatis.entity.ex.RaceKey">
    <result column="ymd" jdbcType="VARCHAR" property="ymd" />
    <result column="jyocd" jdbcType="VARCHAR" property="jyocd" />
    <result column="raceno" jdbcType="SMALLINT" property="raceno" />
  </resultMap>
  
  <select id="selectAll" parameterType="hashmap" resultMap="BaseResultMap">
    <![CDATA[
    select racer.*, race.racetype
    from public.rec_racer racer, public.rec_race race
    where race.ymd = racer.ymd and race.jyocd = racer.jyocd and race.raceno = racer.raceno
      and race.ymd >= #{fromYmd, jdbcType=VARCHAR} and race.ymd < #{toYmd,jdbcType=VARCHAR}
    order by race.ymd, race.jyocd, race.raceno
    ]]>
  </select>
  </mapper>